@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-custom::-webkit-scrollbar {
  width: 10px; 
}

.no-scrollbar::-webkit-scrollbar {


  display: none;
}


.scrollbar-custom::-webkit-scrollbar-thumb {
  background: linear-gradient(177.32deg, #888989 5.6%, #4A4E54 93.28%);
  box-shadow: 4px 4px 4.9px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}